# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Entorno
.env
*.env.local

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
